
<div class = "container">
  <h1>
    Welcome {{name}}
  </h1>
  <div>
    You can manage your todos  <button routerLink = "/logged/todos" class = "btn btn-success">Here</button>

  </div>
  <!-- <div>
    Cick here for a customised welcome message <button (click)="getWelcomeMessage()" class = "btn btn-success">Click Here</button>
    
  </div>
  <br> -->
  <!-- <div *ngIf="welcomMessageFromService" class = "alert alert-success container">
    You Costomized welcome message is {{welcomMessageFromService}}
    
  </div> -->
</div>